@model StudentHousingApp.Models.Student

<h2>Student Details</h2>

<dl class="row">
    <dt class="col-sm-2">Student ID:</dt>
    <dd class="col-sm-10">@Model.StudentID</dd>

    <dt class="col-sm-2">First Name:</dt>
    <dd class="col-sm-10">@Model.FirstName</dd>

    <dt class="col-sm-2">Last Name:</dt>
    <dd class="col-sm-10">@Model.LastName</dd>

    <dt class="col-sm-2">Email:</dt>
    <dd class="col-sm-10">@Model.Email</dd>

</dl>

<p>
    <a asp-action="StudentIndex">Back to List</a>
</p>
